html{
    font-family: 'Roboto', sans-serif;
}
input, textarea{
    margin-top: 20px;
}
input:last-child, textarea:last-child{
    margin-bottom: 20px;
}
#navbar a{
    color : white;
    margin-left: 40px;
    text-decoration: none;
}
.post{
    cursor:pointer;
    background-color: #CBFAED;
}
.post:first-child, .response:first-child{
    margin-top: 10px;
}
.response{
    background-color: #CCD8FA;
}

button{
    margin-left: 10px;
}
#borrar_respuesta_button{
    float: right;
    margin: 5px;
}
a:hover , button:hover , .post:hover{
    opacity: 80%;
    font-weight: bolder;
}
.error{
    color: red;
    font-weight: bolder;
    text-align: center;
}
#post_container{
    margin-top: 10px;
    background-color: rgb(221, 226, 235);
}
#post_container button{
    margin-bottom: 10px;
}
#spinner_container {
    margin: 40px;
}
#add_post_button , #enviar_respuesta_button{
    margin-top: 5px;
}
#spinner_div{
    font-size: 150px;
}
#header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#left_header{
    background-image: url("../img/molecular2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#right_header{
    background-image: url("../img/molecular3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#footer_posts{
    text-align: center;
    cursor:auto;
    background-color: transparent;
}
#footer_posts a{
    text-decoration: none;
}